.idea/*
.DS_Store
.vscode
*.pyc
*.swap
*.pid
.cache/*
test.py
*.retry
test.*
hosts
password
roles/development/data/acme/.lego/certificates/
roles/development/conf/nginx/conf.d
roles/development/data/acme/.lego/certificates/dhparam.pem
roles/development/dev-data*
