[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
molecule = "*"
docker-py = "*"
invoke = "*"

[packages]
ansible = "~=2.6.18"

[requires]
python_version = "2.7"
