# This is Git's per-user configuration file.
# 代码库统一使用utf-8
[gui]
    encoding = utf-8
# log编码
[i18n]
    commitencoding = utf-8
# 支持中文路径
[svn]
    pathnameencoding = utf-8
[user]
	name = seekplum
	email = 1131909224@qq.com
	signingkey = CA199FB545BEB6CB
[core]
	ignorecase = false
        quotepath = false
[pull]
	rebase = false
[http]
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[alias]
	hs = log --pretty='%C(cyan)%cd %C(yellow)%h %Creset%cn %C(cyan)%d %Creset%s' --date-order --graph --date=format:%Y-%m-%d\\ %H:%M:%S
[commit]
	gpgsign = true

[includeIf "gitdir:~/PythonProjects/meideng.net/"]
  	path = .gitconfig-huangjiandong
[includeIf "gitdir:~/JavaProjects/meideng.net/"]
  	path = .gitconfig-huangjiandong
[includeIf "gitdir:~/WebProjects/meideng.net/"]
  	path = .gitconfig-huangjiandong
[includeIf "gitdir:~/GolangProjects/src/meideng.net/"]
  	path = .gitconfig-huangjiandong
