# This is Git's per-user configuration file.
# 代码库统一使用utf-8
[gui]
    encoding = utf-8
# log编码
[i18n]
    commitencoding = utf-8
# 支持中文路径
[svn]
    pathnameencoding = utf-8
[user]
	name = seekplum
	email = 1131909224m@sina.cn
[core]
	ignorecase = false
        quotepath = false
[pull]
	rebase = false
[http]
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[alias]
	hs = log --pretty='%C(cyan)%ad %C(yellow)%h %C(cyan)%d %Creset%s' --date-order --graph --date=format:%Y-%m-%d\\ %H:%M:%S
